* {
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  text-align: center;
}
.display__menu {
  display: flex;
  justify-content: space-around;
  width: 100vh;
  &__burger {
    width: 100px;
    height: 100px;
  }
}
