.root__wrap {
  width: 100%;
  height: 100vh;
}

.conteiner {
  max-width: 1440px;
}
.display {
  background-color: rgb(35, 119, 134);
  display: flex;
  border-radius: 30px;
  border: 2px solid green;
  padding: 2em;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 50vh;
  &__wrap__for__smiles {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  &__wrap {
    display: flex;
  }
}
button{
  display: block;
  margin: 10px;
}
